
<h1>Tops Picks On Fashion</h1>
		
       

        <div class="row item_list" style="margin: 1em 0;">
          <div class="col-sm-12 col-md-6 col-lg-4 item__item" *ngFor="let item of itemData?.items; let i = index;">
            <div class="card mb-4 shadow-sm pd-5">
              <div class="item_list__image">
               <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
              </div>
  
              <div class="card-body">
                <h4>{{item.name}}</h4>
                <h4>price:{{item.price}}</h4> 
                <a [routerLink]="['/details/',item.id]" routerLinkActive="active" style="text-decoration: none;">
                  View
                </a>
    
              </div>
            </div>
          </div>  
             
        </div>