
<p></p>
<app-slide></app-slide>
<app-product></app-product>
<app-image></app-image>
<app-fashion></app-fashion>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h6>About</h6>
          <ul class="footer-links">
            <li><a href="">Contact Us</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Flipkart stories</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Flipkart wholesale</a></li>
            
            
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Help</h6>
          <ul class="footer-links">
            <li><a href="">Payment</a></li>
            <li><a href="">Shipping</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Report</a></li>
            
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Policy</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Return policy</a></li>
            <li><a href="http://scanfcode.com/contact/">Terms of use</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Security</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Mail Us</h6>
           <h5>Flipkart Internet Private Limited,</h5>
           <h5>Buildings Alyssa, Begonia &</h5>
           <h5>Clove Embassy Tech Village,</h5>
           <h5>Outer Ring Road, Devarabeesanahalli Village,</h5>
           <h5>Bengaluru, 560103,</h5>
           <h5>Karnataka, India</h5>
        </div>
        
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p >© 2007-2020 Flipkart.com</p>
         <p>Sell on flipkart</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
