.mat-toolbar {
    background:blue;
    color: #fff;
    position: sticky;
  }
  .icon-color {
    color:black;
  }
  .container {
    background: #f8f9fa !important;
    display: flex;
    justify-content: center;
    padding: 20px 2%;
    font-weight: 400;
    color: black;
}
.item-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background: #fff;
}
.item-description {
    flex: 1;
    background: #fff;
    padding-left: 20px;
}
.buy-now-button {
    border-radius: 0;
}
.buy-now-button.space {
    margin-right: 10px;
}


.sold{
    margin-left: 10px;
}

